body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}
.item-enter {
  opacity: 0.01;
}

.item-enter.item-enter-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.item-leave {
  opacity: 1;
}

.item-leave.item-leave-active {
  opacity: 0.01;
  transition: opacity .5s ease-in;
}

.todo-item {
    transition: all 1s ease-in-out;
}